<ActionBar>
  <Label text="Home"></Label>
</ActionBar>

<div class="p-5 bg-purple-500 text-yellow-200" style="padding-left:20; padding-top: 20;">
  Hello World! <img class="w-12 h-12 rounded-lg" style="width: 50; height: 50;"
    src="https://art.nativescript.org/logo/export/NativeScript_Logo_White_Blue_Rounded.png" />
  <span>
    Welcome to your NativeScript Angular App. <img class="w-12 h-12" src="https://robohash.org/nativescript" style="width: 50; height: 50;" />
  </span>
  <div style="padding-top: 20; background-color: red;">
    <button class="px-4 py-2 bg-green-600 text-white rounded-md"> Go to Details <img class="w-12 h-12 rounded-lg" style="width: 50; height: 50; border-radius: 10px;"
        src="https://upload.wikimedia.org/wikipedia/commons/6/67/Angular_gradient_logo.png" /></button>
  </div>
</div>
